<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1C on C#</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @Styles.Render("~/Content/libraries")
    @Scripts.Render("~/Bundles/libraries")
</head>

@RenderSection(name: "CSS", required: false)

<body>
    @RenderBody()
</body>

@RenderSection(name: "JS", required: false)

</html>