<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ESI PIRMAIS SOCIAL NETWORK</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @Styles.Render("~/Content/libraries")
    @RenderSection(name: "CSS", required: false)
    @Scripts.Render("~/Bundles/libraries")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142282877-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142282877-1');
    </script>
</head>

@{
    var cookie = Request.Cookies.Get("inActive");
}

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="inside" class="full-size layout-row">
            <section ng-module="EP" ng-controller="MenuCtrl">
                <md-sidenav id="left-menu" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                    <div class="ep-white-inside"></div>
                    <md-divider></md-divider>
                    <a href="/User">
                        <div ng-class="{'active': isActiveLink('User')}">
                            <i class="material-icons">home</i> Mans Profils
                        </div>
                    </a>
                    <a href="/Friend">
                        <div ng-class="{'active': isActiveLink('Friend')}">
                            <i class="material-icons">group</i> Draugi
                            <b id="requestsCount"></b>
                        </div>
                    </a>
                    <a href="/Message">
                        <div ng-class="{'active': isActiveLink('Message')}">
                            <i class="material-icons">chat</i> Dialogi
                        </div>
                    </a>
                    <a href="/Feed">
                        <div ng-class="{'active': isActiveLink('Feed')}">
                            <i class="material-icons">storage</i> Aktuālais
                        </div>
                    </a>
                    <a href="/News">
                        <div ng-class="{'active': isActiveLink('News')}">
                            <i class="material-icons">public</i> Jaunumi
                        </div>
                    </a>
                    <a href="/Movie">
                        <div ng-class="{'active': isActiveLink('Movie')}">
                            <i class="material-icons">videocam</i> Video
                        </div>
                    </a>
                    <a href="/Match">
                        <div ng-class="{'active': isActiveLink('Match')}">
                            <i class="material-icons">assignment</i> Spēles
                        </div>
                    </a>
                    <a href="/Team">
                        <div ng-class="{'active': isActiveLink('Team')}">
                            <i class="material-icons">business_center</i> Komandas
                        </div>
                    </a>
                    <a href="/Player">
                        <div ng-class="{'active': isActiveLink('Player')}">
                            <i class="material-icons">star</i> Spēlētāji
                        </div>
                    </a>
                    <a href="/Tournament">
                        <div ng-class="{'active': isActiveLink('Tournament')}">
                            <i class="material-icons">calendar_today</i> Sacensības
                        </div>
                    </a>
                    <a href="/Home/LogOff">
                        <div>
                            <i class="material-icons">power_settings_new</i> Iziet
                        </div>
                    </a>
                    <md-divider></md-divider>
                    <a href="https://www.ziegler-gmbh.com/en">
                        <div>
                            <img src="~/Content/img/ziegler-min.png" /> SIA Zieglera mašīnbūve
                        </div>
                    </a>
                    <a href="http://www.cili.lv/ru/">
                        <div>
                            <img src="~/Content/img/chili-pica-min.png" /> SIA Čili Pica
                        </div>
                    </a>
                    <a href="https://letsplay.lv/">
                        <div>
                            <img src="~/Content/img/letsplay-min.png" /> SIA LETSPLAY.LV
                        </div>
                    </a>
                </md-sidenav>
            <div ng-click="toggleMenu()" class="mobile-menu">
                <i class="material-icons">menu</i>
            </div>
            </section>
            <div class="flex">
                @if (cookie != null)
                {
                    <div class="text-center alert-header">Jums ir vajadzīgs aktivizēt profiļu, lai izmantot portālu. <a href="/User/Activation">Aktivizēt</a></div>
                }
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        <div id="outside" class="full-size">
            @RenderBody()
        </div>
    }
    @RenderSection(name: "JS", required: false)
</body>
</html>