<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-4 col-lg-3">
        <div class="user-photo" style="background-image:url({{ userData.Photo }});"></div>
        <div class="btn-friend-action" ng-controller="friendCtrl" ng-cloak>
            @if (Model.IsOwner)
            {
                <div class="main-btn">
                    <md-button class="md-raised md-primary setting-btn" ng-click="userSettings()">Uzstadijumi</md-button>
                </div>
            }
            else
            {
                <div class="main-btn">
                    <md-button class="md-raised md-primary setting-btn" ng-if="!userData.IsFriend && !userData.IsRequested && !userData.IsAsked" ng-click="requestToFriend(@Model.ID, friendsPageType.userPage)">Draudzēt</md-button>
                </div>
                <div class="main-btn">
                    <md-button class="md-raised setting-btn friend-btn" ng-init="btnText = 'Draugs'" ng-mouseover="btnText = 'Dzēst'"
                               ng-mouseleave="btnText = 'Draugs'" ng-if="userData.IsFriend" ng-click="deleteFromFriend(@Model.ID, friendsPageType.userPage)">{{ btnText }}</md-button>
                </div>
                <div class="main-btn">
                    <md-button class="md-raised setting-btn" ng-if="userData.IsRequested" ng-click="abortRequest(@Model.ID, friendsPageType.userPage)">Pieprasīts</md-button>
                </div>
                <div class="main-btn">
                    <md-button class="md-raised md-primary setting-btn" ng-if="userData.IsAsked" ng-click="acceptRequest(@Model.ID, friendsPageType.userPage)">Apstiprināt</md-button>
                </div>
                <div class="main-btn decline-btn">
                    <md-button class="md-raised md-warn setting-btn" ng-if="userData.IsAsked" ng-click="declineRequest(@Model.ID, friendsPageType.userPage)">Atcelt</md-button>
                </div>
            }
        </div>
        <div class="user-informer">
            <div class="col-12">
                <div class="row mb15">
                    Draugi <span ng-if="otherData.FriendsCount > 0">({{ otherData.FriendsCount }})</span>
                </div>
                <div class="row justify-content-center">
                    <div class="user-mini" ng-repeat="friend in otherData.UserFriends" title="{{friend.Name}}">
                        <a href="/User?Id={{ friend.Id }}">
                            <div>
                                <div class="circle-photo" style="background-image: url('{{friend.PhotoUrl}}')"></div>
                                <span ng-bind="friend.Name"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 text-center" ng-if="otherData.UserFriends.length === 0">
                        Nav draugu
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8 col-lg-9">
        <div class="user-inside">
            <div class="col-12 profile-section-title">Pamatinformācija</div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">Vārds</div>
                    <div class="col-6">{{ userData.FirstName }}</div>
                </div>
                <div class="row">
                    <div class="col-6">Uzvārds</div>
                    <div class="col-6">{{ userData.LastName }}</div>
                </div>
                <div class="row" ng-if="userData.DateOfBirth">
                    <div class="col-6">Dzimšanas datums</div>
                    <div class="col-6">{{ getCleanDate(userData.DateOfBirth) | date: 'dd.MM.yyyy' }}</div>
                </div>
                <div class="row">
                    <div class="col-6">Reģistrācijas datums</div>
                    <div class="col-6">{{ userData.CreateDate | date: 'dd.MM.yyyy' }}</div>
                </div>
                <div class="row" ng-if="userData.DisciplineName">
                    <div class="col-6">Disciplīna</div>
                    <div class="col-6">{{ userData.DisciplineName }}</div>
                </div>
                <div class="row" ng-if="userData.PositionName && userData.Discipline === 1">
                    <div class="col-6">Pozīcija</div>
                    <div class="col-6">{{ userData.PositionName }}</div>
                </div>
            </div>
        </div>
        @if (!Model.IsOwner)
        {
            <div class="user-inside mt30">
                <div class="row last-login">
                    <div class="col-12 col-md-6 text-left align-self-center">
                        Pēdējais apmeklējums: {{ otherData.LastLogIn | date: 'dd.MM.yyyy' }}
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <md-button class="md-raised md-primary" ng-if="otherData.UserDialogId !== 0" ng-href="/Message?Id={{otherData.UserDialogId}}">Uzrakstīt</md-button>
                        <md-button class="md-raised md-primary" ng-if="otherData.UserDialogId === 0" href="/Message">Uzrakstīt</md-button>
                    </div>
                </div>
            </div>
        }
    </div>   
</div>