@using EP.BusinessLogic.Models
@model PageModel
@section CSS { @Styles.Render("~/Content/user") }

<md-content ng-app="EP.User" ng-controller="userCtrl" ng-init="init(@Model.ID)" ng-cloak>
    @if (Model.IsOwner)
    {
        <md-toolbar id="header">Mans Profils</md-toolbar>
    }
    else
    {
        <md-toolbar id="header">{{ headerName }}</md-toolbar>
    }
    <md-content class="container">
        <div class="col-12" ng-cloak>
            <div class="row justify-content-center">
                <div class="col-12 col-xll-9" ng-if="isSectionUser && !isLoading && userData.CreateDate != null">
                    @Html.Partial("_User", Model)
                </div>
                <div class="col-md-8 user-inside" ng-if="isLoading">
                    <div class="row justify-content-center">
                        <md-progress-circular md-diameter="80px" aria-label="Wait"></md-progress-circular>
                    </div>
                </div>
                <div class="col-lg-8" ng-if="isSectionUser && !isLoading && userData.CreateDate == null">
                    <div class="default-whiteframe">
                        <div class="default-blueframe">
                            Kļūda
                        </div>
                        <div class="col-12 no-item">Lietotājs neeksistē</div>
                    </div>
                </div>
                <div class="col-lg-8" ng-if="isSectionSetting">
                    @Html.Partial("_Setting", Model)
                </div>
                <div class="col-lg-8" ng-if="isSectionChangePassword">
                    @Html.Partial("_ChangePassword", Model)
                </div>
                <div class="col-lg-8" ng-if="isSectionChangeEmail">
                    @Html.Partial("_ChangeEmail", Model)
                </div>
                <div class="col-lg-4 right-side" ng-controller="mainCtrl">
                    @Html.Partial("_RightSide")
                </div>
            </div>
        </div>
    </md-content>  
</md-content>

@section JS { @Scripts.Render("~/Bundles/user") }