@using EP.BusinessLogic.Models
@model PageModel

@section CSS { @Styles.Render("~/Content/team") }

<md-content ng-app="EP.Team" ng-controller="teamCtrl" ng-cloak>
    <md-toolbar id="header">Komandas</md-toolbar>
    <md-content class="container">
        <div class="col-12" ng-cloak>
            <div class="row justify-content-center">
                <div class="col-lg-8" ng-if="activeSection === sections.list">
                    @Html.Partial("_List")
                </div>
                <div class="col-lg-8" ng-if="activeSection === sections.details">
                    @Html.Partial("_Details")
                </div>
                <div class="col-lg-4 right-side" ng-controller="mainCtrl" ng-cloak>
                    @Html.Partial("_RightSide")
                </div>
            </div>
        </div>
</md-content>
</md-content>

@section JS { 
    @Scripts.Render("~/Bundles/teams")
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 }