@section CSS { @Styles.Render("~/Content/friend") }

<md-content ng-app="EP.Message" ng-controller="messageCtrl" ng-cloak>
    <md-toolbar id="header">Dialogi</md-toolbar>
    <md-content class="container">
        <div class="col-12" ng-cloak>
            <div class="row justify-content-center">
                <div class="col-lg-8" ng-if="currentSection === sections.list">
                    @Html.Partial("_List")
                </div>
                <div class="col-lg-8" ng-if="currentSection === sections.item">
                    @Html.Partial("_Details")
                </div>
                <div class="col-lg-4 right-side" ng-controller="mainCtrl" ng-cloak>
                    @Html.Partial("_RightSide")
                </div>
            </div>
        </div>
    </md-content>
</md-content>

@section JS { @Scripts.Render("~/Bundles/messages") }